/* styles.css */

.Content {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .Publi-Div {
    margin: 20px 0;
  }
  
  .Cargando {
    text-align: center;
    color: #666;
  }
  
  .SinComentarios {
    text-align: center;
    color: #999;
  }
  .comentario{
    text-align: start;
  }

  .comentario-info {
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 20px;   /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    text-align: start; /* Centra el texto */
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .comentario-info h2 {
    font-size: 18px; /* Tamaño de fuente */
    color: #666; /* Color de texto */
    margin-bottom: 5px; /* Espacio debajo del título */
  }
  
  .comentario-info h3 {
    font-size: 26px; /* Tamaño de fuente */
    color: #333; /* Color de texto */
    margin: 5px 0; /* Espaciado */
  }
  .comentario-info p {
    font-size: 13px; /* Tamaño de fuente */
    color: #666; /* Color de texto */
    margin: 5px 0; /* Espaciado */
  }

  .respuesta-info {
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 20px;   /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    text-align: start; /* Centra el texto */
    text-decoration: none;
  }
  
  .respuesta-info legend {
    font-size: 14px; /* Tamaño de fuente */
    color: #555; /* Color de texto */
    margin-bottom: 5px; /* Espacio debajo del título */
  }

  .respuesta-info h2 {
    font-size: 18px; /* Tamaño de fuente */
    color: #666; /* Color de texto */
    margin-bottom: 5px; /* Espacio debajo del título */
  }
  
  .respuesta-info h3 {
    font-size: 26px; /* Tamaño de fuente */
    color: #333; /* Color de texto */
    margin: 5px 0; /* Espaciado */
  }
  .respuesta-info p {
    font-size: 13px; /* Tamaño de fuente */
    color: #666; /* Color de texto */
    margin: 5px 0; /* Espaciado */
  }
  /* Comentario.css */

.agregarBoton {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #9b9b9b; /* Color verde */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  
  .agregarBoton:hover {
    background-color: #838383; /* Color verde más oscuro */
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
  