/* estadisticas.css */
.contentest{
    display: flex;
    padding-top: 5%;
    overflow-y: auto;
    min-height: 100vh;
    background-color: #f9f9f9;
    z-index: 1;
}

.sidebarest {
    padding-top: 50%;
    width: 25%;
    padding: 5px;
    background-color: #ffffff;
    border-right: 5px solid #ddd;
    z-index: 1;
    align-items: center;
  }
.filtro-formest{
    width: 90%;
    align-items: center;
}
/* Estilos generales del calendario */
.react-calendar {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    color: #222;
    border: 1px solid #a0a096;
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}

/* Encabezado del calendario */
.react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
}

.react-calendar__navigation button {
    color: #8b0000;
    min-width: 44px;
    background: none;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 6px 0;
    cursor: pointer;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}

/* Encabezado de los días de la semana */
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    margin-bottom: 0.4em;
}



/* Días del calendario */
.react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #e6e6e6;
    border-radius: 6px;
}

.react-calendar__tile--now {
    background: #d63e3e84;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #8b0000;
    color: white;
}

.react-calendar__tile--active {
    background: #8b0000d0;
    border-radius: 6px;
    color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #8b0000;
}

/* Botones de navegación */
  
  .estadisticas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .estadisticas-cuadros {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15%;
    max-width: 300%;
    justify-content: center;
  }
  
  .cuadros-superiores {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 5%;
  }

  .grid-datos {
    display: flex;
    justify-content:center;
    width: 100%;
    margin-bottom: 30px;
  }

  .grid-datos-interior {
    border: 1px solid #ccc;
    margin: 1%;
    border-radius: 10px;
    padding: 0.5%;
  }

  .cuadro {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 150%;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    text-align: center;
  }
  
  .cuadro:hover {
    transform: scale(1.05);
  }
  
  .cuadro h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
    color: #333;
  }
  
  .cuadro h3 {
    font-size: 1.3em;
    color: #555;
  }
  
  .cuadro p {
    font-size: 1.8em;
    color: #000;
  }
  
  .cuadro .numero {
    font-size: 2em;
    font-weight: bold;
    color: #333;
  }
  
  .cuadro .porcentaje {
    font-size: 1.2em;
    color: #888;
  }
  
  .cuadro .porcentaje-total {
    color: #ff5733;
  }
  
  .cuadro .porcentaje-grupo {
    color: #337ab7;
  }
  
  .cargando {
    font-size: 24px;
    font-weight: bold;
  }
  
  .sin-publi {
    font-size: 20px;
    font-weight: bold;
    color: red;
  }
  
  