.detalle-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.detalle-imagen {
  flex: 1;
  max-width: 100vh;
}

.imagen-grande {
  max-width: 100vh;
  width: auto;
  height: 45vh;
  border-radius: 8px;
  border-color: #666;
}

.detalle-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.detalle-info h2 {
  margin: 0 0 20px;
  font-size: 28px;
}

.detalle-info p {
  margin: 10px 0;
  font-size: 18px;
  line-height: 1.5;
}

.detalle-info p strong {
  font-weight: bold;
}

.linkUsuario {
  text-decoration: none;
  color: rgb(32, 80, 222);
}

.linkUsuario:hover {
  text-decoration: none;
  color: black;
}

.usuario-valoracion-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.valoracion {
  font-size: 13px;
  font-weight: bold;
  color: #666;
}
